// Normally mainpage styles
 

/*--------------------    header    --------------------*/
header{ 
	position: relative;
	padding: 5px 0;
}
	.logo{
		position: relative;
		float: left;
		width: 160px;
	}
		.logo img{
			max-width: 100%;
		}
	.slogan{
		position: relative;
		float: left;
		width: 330px;
		font-family: 'Philosopher';
		border-left: 1px solid #363636;
		padding-top: 5px;
		padding-left: 30px;
		margin-left: 25px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.header-right{
		position: relative;
		float: right;
		padding-top: 10px;
	}
		.phone{
			position: relative;
			float: left;
		}
			.phone a{
				color: #363636;
				font-size: 25px;
				line-height: 40px;
				text-decoration: none;
				font-family: 'PFDinDisplayPro Thin';
			}
				.phone a b{
					font-family: 'PFDinDisplayPro Light';
					font-weight: normal;
				}
		.feedback{
			position: relative;
			float: left;
			width: 180px;
			margin-left: 25px;
		}
/*--------------------    top-menu    --------------------*/
.top-menu{
	position: relative;
	background: #edd323;
}
	.top-menu > ul{
		position: relative;
		display: table;
		width: 100%;
	}
		.top-menu > ul > li{
			position: relative;
			display: table-cell;
			vertical-align: middle;
			width: 17%;
		}
			.top-menu > ul > li > a{
				position: relative;
				display: block;
				color: #363636;
				font-size: 16px;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				padding: 13px 0;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}
				.top-menu > ul > li > a:before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 1px;
					height: 100%;
					background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 10%, rgba(0,0,0,0.3) 90%, rgba(0,0,0,0) 100%);
					background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0.3) 90%,rgba(0,0,0,0) 100%);
					background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0.3) 90%,rgba(0,0,0,0) 100%);
				}
					.top-menu > ul > li:first-child > a:before{
						content: none;
					}
				.top-menu > ul > li > a:hover{
					background: #ffed72;
				}
					.top-menu > ul > li:hover > a:before, .top-menu > ul > li:hover + li > a:before{
						content: none;
					}
	.top-menu{
		li:hover{
			& > ol{
				display: block;
			}
		}
		ol{
			position: absolute;
			left: 0;
			top: 49px;
			width: 100%;
			background:#fff;
			z-index: 50;
			border: 1px solid #ffed72;
			border-top: none;
			display: none;
			ol{
				left: 100%;
				top: -1px;
			}
			li{
				display: block;
				border-top: #ffed72 1px solid;
				position: relative;
				a{
					padding: 7px 0;
					display: block;
					text-decoration: none;
					color: #463500;
					font-size: 18px;
					text-align: center;
				}
				&:hover{
					& > a{
						color: #f26611;
						text-decoration: underline;
					}
				}
			}
		}
	}
	.menu_trigger{
		display: none;
	}
/*--------------------    main    --------------------*/
.main{
	padding: 20px 0 45px 0;
}
	.bnr{
		padding-bottom: 40px;
	} 
	.content_txt{
		color: #363636;
		font-family: $ffamily;
		padding-bottom: 15px;
		img.float_left{
			margin: 10px 55px 30px 0;
		}
		p{
			font-size: 18px;
			color: #363636;
			line-height: 25px;
			padding-bottom: 10px;
		}
		h1{
			font-size: 35px;
			padding-bottom: 30px;
			font-family: $fontfamily;
		}
	}
	.news_wrap{
		padding: 20px 0 0 0;
		.news_block{
			@include povh('');
			margin-left: -23px;
		}
	}
		.title{
			font-size: 35px;
			color: #363636;
			text-align: center;
			padding-bottom: 30px;
			font-family: $fontfamily;
		}
		.news_item{
			float: left;
			@include povh('');
			border: 1px solid #e4e4e4;
			width: 293px;
			margin: 0 0 10px 23px;
			&.big{
				width: 510px;
				figure{
					figcaption{
						width: 66px;
						height: 66px;
						bottom: 0px;
						right: 17px;
						i{
							font-size: 25px;
							line-height: 66px;
						}
					}
				}
			}
			figure{
				position: relative;
				display: block;
				padding-bottom: 24px;
				img{
					width: 100%;
				}
				figcaption{
					width: 47px;
					height: 47px;
					border-radius: 50%;
					background-color: #efefef;
					box-shadow: 0 0 20px #ebebeb;
					text-align: center;
					position: absolute;
					bottom: 5px;
					right: 17px;
					i{
						color: #363636;
						font-size: 20px;
						line-height: 47px;
					}
				}
			}
			section{
				padding: 18px;
				padding-top: 0px;
				color: #363636;
				font-size: 16px;
				a{
					text-decoration: none;
				}
				h6{
					color: #363636;
					font-size: 20px;
				}
				.date{
					color: #797979;
					display: block;
				}
				.more{
					padding: 5px 0 0 0;
					color: #f26611;
					&:hover{
						a{
							border-bottom-color: transparent;
						}
					}
					a{
						border-bottom: 1px dotted #f26611;
						margin: 0 4px 0 0;
					}
				}
			}
		}
	.all_news{
		text-align: center;
		padding-top: 10px;
		a{
			@include button('$button');
			border-color: #fd7625;
			background:#fff;
			color: #fd7625;
			display: inline-block;
			width: 250px;
			font-size: 20px;
		}
	}
/*--------------------    footer    --------------------*/
.footer{
	background:#f2f5da url(../img/foot_bg.jpg) no-repeat center top; 
	padding: 40px 0;
}
	.foot_left{
		float: left;
		width: 300px;
		padding: 0 20px 0 0;
		p{
			color: #363636;
			font-size: 18px;
			padding-bottom: 14px;
		}
		a{
			text-decoration: none;
			border-bottom: 1px dotted #363636;
			&:hover{
				border-bottom-color: transparent;
			}
		}
	}
	.foot_menu{
		color: #463500;
		font-size: 16px;
		float: left;
		line-height: 25px;
		li{
			list-style-type: disc;
		}
		a{
			color: #9fb101;
			text-decoration: none;
			border-bottom: 1px dotted #9fb101;
			&:hover{
				border-bottom-color: transparent;
			}
		}
	}
	.foot_right{
		float: right;
		width: 525px;
		font-size: 16px;
		h5{
			font-size: 20px; 
			font-family: $fontfamily;
		}
		address{
			font-style: normal;
			font-size: 14px;
			padding: 12px 0 0 0;
		}
	}

/*--------------------    modal    --------------------*/
.modal{
	position: relative;
	display: none;
	width: 360px;
	padding: 0px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 9px;
}
	.form-input, .error{
		width: 280px;
		margin: 0 auto;
	}
		.form-input {
			vertical-align: top;
			border: 1px solid #dadbdb;
			padding: 7px 9px;
			box-sizing: border-box;
			margin-bottom: 18px;
			i{
				margin: 0 10px 0 0;
				color: #edd323;
				font-size: 20px;
				display: inline-block;
				height: 33px;
				line-height: 33px;
			}
			input{
				border-radius: 0;
				width: 220px;
				padding: 0 0 0 15px;
				height: 33px;
				color: #797979;
				font-size: 16px;
				display: inline-block;
				border: none;
				border-left: 1px solid #cccccc;
			}
			&.error{
				border-color: #f33f50;
				input{
					color: #f33f50;
				}
			}
		}
	.form-title{
		color: #363636;
		font-size: 25px;
		font-family: $fontfamily;
		text-align: center;
		padding:20px 0 15px 0;
	}
	.form-btn{
		margin-top: 20px;
		padding: 20px 0;
		text-align: center;
		background:#f2f5da;
		.button{
			width: 280px;
			height: 53px;
			text-transform: uppercase;
			box-shadow: inset 0 -2px 0 rgba(1,1,1,.17);
			&:hover{
				box-shadow: inset 0 -2px 0 rgba(1,1,1,.0);
			}
		}
	}
		.error{
			font-size: 14px;
			color: #f33f50;
		}
.thanks_modal{
	width: 525px;
}
	.form_thanks{
		background:#f2f5da url(../img/success.png) no-repeat  11px center;
		padding: 40px 0;
		text-align: center;
		color: #f46915;
		font-size: 50px;
		font-family: $fontfamily;
	}
	.thanks_text{
		padding: 25px 0 45px 0;
		text-align: center;
		color: #363636;
		font-size: 20px;
		strong{
			display: block;
			font-size: 25px;
		}
	}