// Normally mainpage media styles
// You can read about usage in https://github.com/paranoida/sass-mediaqueries 


//styles for custom device width
@include mq($max-width: 1200px) {
  .wrapper{
  	width: auto;
  	overflow: hidden;
  }
  	.bnr{
  		img{
  			width: 100%;
  		}
  	}
  .sert_slider .sert_slider_inner{
  	width: auto;
  	padding: 0 20px;
  }
  .form_outer{
  	background: none;
  	form{
  		margin: 0 auto;
  	}
  }
  .product_info .certificates a img{
  	margin: 0 10px;
  }
  .section_404 img.text_404{
  	max-width: 100%;
  }

}

@include mq($max-width: 1000px) {
	header{
		text-align: center;
	}
	.logo, .slogan, .header-right{
		display: inline-block;
		float: none;
	}
		.header-right{
			padding: 20px 0;
		}
	.foot_right{
		width: auto;
		float: none;
		@include povh('');
		padding-left: 20px;
	}

}	

@include mq($max-width: 900px) {
	.news_item.big{
		width: auto;
		float: none;
	}
	.news_item{
		width: calc(49% - 23px);
	}
	.gallery_wrap .gallery_block a{
		width: 33%;
	}
	.product_info .product_img{
		float: none;
		width: 100%;
		img{
			width: 100%;
		}
	}
}

@include mq($max-width: 768px) {
	.content_txt img.float_left, .content_txt img.float_right{
		float: none !important;
		width: 100%;
		margin: 0 0 20px 0;
	}
	.news_item{
		width: calc(49% - 23px);
	}
	.foot_right{
		width: auto;
		float: none;
		@include povh('');
		clear: both;
		text-align: center;
	}
	.footer{
		text-align: center;
	}
		.foot_left, .foot_menu{
			display: inline-block;
			float: none;
		}
	
}

@include mq($max-width: 700px) {
	.container{
		margin: 0 10px;
	}
	.menu_trigger{
		text-align: center;
		display: block;
		font-size: 20px;
		text-transform: uppercase;
		padding: 15px 0;
	}
	.top-menu {
		ul{
			display: none;
		}
		li{
			display: block !important;
			width: 100% !important;
			border-top: 1px solid #bba318;
			ol{
				display: none;
				position: static;
			}
		}
	}
	.gallery_wrap .gallery_block a{
		width: 49%;
	}
	.sort_item .text, .sort_item .img{
		float: none;
		width: 100%;
	}
		.sort_item .img{
			img{
				width: 100%;
			}
		}
}

@include mq($max-width: 600px) {
	.contact_sections .item{
		float: none;
		width: 100%;
	}
	.form_outer form {
		width: auto;
		box-sizing: border-box;
		padding: 40px 10px;
		input, textarea{
			width: 100% !important;
			float: none !important;
			
		}
		input[type="submit"]{
			width: 70% !important;
			margin: 0 auto;
			display: block;
		}
	}
}
@include mq($max-width: 530px) {
	.slogan{
		padding-left: 0;
		margin-left: 0;
		border-left: none;
	}
	.news_item{
		width: calc(99% - 23px);
	}
	.modal{
		width: auto;
	}
	.form-input{
		margin: 5px;
	}
	.form-input, .error{
		width: auto;
		text-align: center;
	}
	.form-btn .button{
		width: 90%;
	}
	.form_thanks{
		background:red;
		background:#f2f5da;
	}
	.gallery_wrap .gallery_block a > img{
		width: 100%;
	}
} 

@include mq($max-width: 380px) {
	.phone, .feedback{
		float: none;
		margin: auto;
	}
	.slogan{
		width: auto;
	}
	.gallery_wrap .gallery_block a{
		width: 100%;
	}
	.product_item{
		width: 100%;
	}
}